$color-brand-100: #B2EBF2;
$color-brand-200: #80DEEA;
$color-brand-300: #4DD0E1;
$color-brand-400: #26C6DA;
$color-brand-500: #00BCD4;
$color-brand-600: #00ACC1;
$color-brand-700: #0097A7;
$color-brand-800: #00838F;
$color-brand-900: #006064;

$color-grey-100: #F5F5F5;
$color-grey-300: #E0E0E0;
$color-grey-500: #9E9E9E;
$color-grey-700: #616161;
$color-grey-900: #212121;

$font-primary: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$gutter-sm: 1rem;
$gutter-md: 2rem;
$gutter-lg: 4rem;
