extends ./layouts/primary.pug

block main
  .Container
    h1 Hello,
    p I'm Nick Salloum. If you're looking for my front end dev blog, it's over at #[a(href="http://callmenick.com", target="_blank") callmenick.com]. If you're looking for my design brand with my partner in crime, #[a(href="http://elenamolchanova.com/", target="_blank") Elena], then head on over to #[a(href="http://saysm.com", target="_blank") saysm.com]. Otherwise, sit tight while I fill up this site with some goodies, random projects, and life happenings.
